.container{
    position: relative;
    z-index: 1;
    background-color: rgb(238, 240, 242);
    padding: 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

app-graph{
    position: relative;
    z-index: 8;
    background-color:white;
    height: 43%;
    width: 90%;
    text-align: center;
    border: .5px solid lightgray;
    border-radius: 10px;
}

app-user-input{

    background-color:white;
    height: 10%;
    width: 90%;
    border: .5px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}